// ------------------------------------------
//  Color Scheme
// ------------------------------------------

// Basic Colors

$black: #000;
$white: #fff;
$dark-gray: #dcdcdc;
$medium-gray: #d9d9d9;
$light-gray: #f2f2f2;
$dark-red: #812d44;


// -----------------------------------------
// Main Colors
// -----------------------------------------

$ft__body-background: $light-gray;
$ft__page-background: $white;
$ft__text-color: $black;

// -----------------------------------------
// Headlines
// -----------------------------------------
$ft__headline-basic: $black;
$ft__headline-light: $dark-gray;

// -----------------------------------------
// Article List
// -----------------------------------------
$article-list__item__paragraph__background-color: $light-gray;

// -----------------------------------------
// Info Box
// -----------------------------------------
$ft__info-box__background-color: $medium-gray;
$ft__info-box__icon__background-color: $dark-red;
$ft__info-box__icon__color: $white;

// -----------------------------------------
// Sidebar
// -----------------------------------------
$ft__sidebar__container__background-color: $light-gray;

