// ---------------------------------------------------------------------
// variables
// ---------------------------------------------------------------------

//font-size
$base-font-size: 16px;

$font-size-small: 16px;

$font-size-normal: $base-font-size;

$font-size-medium: 18px;

$font-size-large: 20px;



//headline-size
$headline-small: 16px;

$headline-medium: 25px;

$headline-large: 45px;
