// ----------------------------------------------------------------
//  Sidebar Module
// ----------------------------------------------------------------

.ft__sidebar__container {
	background-color: $ft__sidebar__container__background-color;
	height: em(360px);
	margin-bottom: em(30px);
}